*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.container{
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1604795210696-13d11806284d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGNhc3NldHRlJTIwb24lMjBiYWNrZ3JvdW5kfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  position: relative;
}
.navbar{
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo1{
  width: 140px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  
}